<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="carousel slide" id="carousel-737427">
				<ol class="carousel-indicators">
					<li data-target="#carousel-737427" data-slide-to="0">
					</li>
					<li class="active" data-target="#carousel-737427" data-slide-to="1">
					</li>
					<li data-target="#carousel-737427" data-slide-to="2">
					</li>
				</ol>
				<div class="carousel-inner">
					<div class="item">
						<img alt="" src="img/1.jpg" />
						<div class="carousel-caption">
							<h4>
								潜水
							</h4>
							<p>
								是人类打开世界的另一种方式。
							</p>
						</div>
					</div>
					<div class="item active">
						<img alt="" src="img/2.jpg" />
						<div class="carousel-caption">
							<h4>
								潜水
							</h4>
							<p>
								是认识自己的一个过程。
							</p>
						</div>
					</div>
					<div class="item">
						<img alt="" src="img/3.jpg" />
						<div class="carousel-caption">
							<h4>
								"Diving"
							</h4>
							<p>
								"It's full of love life, it's full of energy, but it's also very powerful."
							</p>
						</div>
					</div>
				</div> <a class="left carousel-control" href="#carousel-737427" data-slide="prev">‹</a> <a class="right carousel-control" href="#carousel-737427" data-slide="next">›</a>
			</div>
		</div>
	</div>
</div>